.App {
  font-family: sans-serif;
  text-align: center;
}
.previewCard {
  background-color: blue;
  color: white;
  margin: 20px;
}

form {
  margin: 20px;
}

.cardList {
  background-color: beige;
  margin: 20px;
  width: 100%;
  border: 1px solid grey;
  padding: 20px;
}
